.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 74px;
}

.profile__greeting {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 107px;
}

.profile__info {
    display: flex;
    justify-content: space-between;
    width: 410px;
    font-size: 11px;
}

.profile__info:first-of-type {
    border-bottom: 1px solid #E8E8E8;
}

.profile__info_text {
    margin: 16px 0 16px;
    border: none;
    outline: none;
    text-align: right;
    width: max-content;
    background-color: white;
}

.profile__info_meaning {
    font-weight: 500;
}

.profile__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 204px;
}

.profile_link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    transition: .6s;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}
.profile_link:hover{
    opacity: .6;
}

.profile__link_type_signout {
    color: #FF4062;
    margin-top: 16px;
    margin-bottom: 70px;
}

.profile__button-save {
    width: 410px;
    border-radius: 3px;
    background-color: black;
    cursor: pointer;
    height: 45px;
    position: relative;
    color: white;
    transition: .6s;
    border: none;
    outline: none;
}

.profile__button-save:hover {
    opacity: .6;
}

@media screen and (max-width: 568px) {
    .profile__info{
        width: 260px;
    }
}

@media screen and (max-width: 568px) {
    .profile_link{
        font-size: 12px;
    }
}