.navtab__container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    max-width: 1280px;
    margin: auto;
}

.navtab {
    background-color: black;
}

.navtab__item {
    text-decoration: underline;
    color: white;
    font-size: 13px;
    line-height: 16px;
    padding-left: 40px;
    transition: .6s;
}

.navtab__item:first-of-type {
    padding-left: 0;
}

.navtab__item:hover {
    opacity: .6;
}

@media screen and (max-width: 568px) {
    .navtab__item {
        font-size: 11px;
        padding-left: 24px;
    }
}