.movie {
    background-color: #FDFDFD;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.movie__img {
    width: 100%;
    height: 203px;
    border-radius: 6px 6px 0 0;
}

.movie__info_text {
    margin-left: 16px;
}

.movie__name {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    height: 43px;
}

.movie__duration {
    font-size: 11px;
    font-weight: 400;
    color: #A0A0A0;
    margin: 0;
    padding-bottom: 16px;
}

.movie__info {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
}

.movie__like {
    margin-right: 24px;
    align-self: baseline;
    cursor: pointer;
    background-image: url(../../../images/like_disactive.svg);
    border: none; 
    background-color: transparent;
    width: 14px;
    height: 12px; 
    transition: .6s;
}

.movie__like_type_active {
    background-image: url(../../../images/like_active.svg);
}

.movie__like:hover {
    opacity: .6;
}

@media screen and (max-width: 984px) {
    .movie__img {
        height: 190px;
    }
}


@media screen and (max-width: 568px) {
    .movie__img {
        height: 195px;
    }
}

@media screen and (max-width: 390px) {
    .movie__img {
        height: 168px;
    }
}

@media screen and (max-width: 568px) {
    .movie__name {
        font-size: 12px;
    }
}

@media screen and (max-width: 568px) {
    .movie__duration {
        font-size: 10px;
    }
}