.register {
    align-items: center;
    display: grid;
    height: 100%;
}

.register__container {
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 0;
    padding-top: 70px;
}

.register__greating {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0;
}

.register__input {
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    height: 32px;
    font-size: 14px;
    color: black;
    margin: 0;
    font-weight: 400;
}

.register__input:focus {
    border-bottom: 1px solid black;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 396px;
}

.register__form_text {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    color: #A0A0A0;
    margin-top: 24px;
}

.register__button {
    width: 100%;
    height: 45px;
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: .6s;
    margin-top: 6px;
}

.register__button:disabled {
    background-color: #d0d0d0;
    cursor:default;
    color: #595959;
}

.register__button:disabled:hover {
    opacity: 1;
}

.register__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 134px;
}

.register__button:hover {
    opacity: .6;
}
.register__button:focus {
    opacity: 1;
}

.register__signin {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 70px;
}

.register__signin-text {
    margin: 0;
    font-size: 14px;
    color: #A0A0A0;
    font-weight: 400;
    margin-right: 6px;
}

.register__signin-link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    transition: .6s;
}

.register__signin-link:hover {
    opacity: .6;
}

.register__signin-link:focus {
    opacity: 1;
}

.register__error {
    color: #FF4062;
    font-size: 11px;
    width: 396px;
    margin-top: 6px;
}

@media screen and (max-width: 568px) {
    .register__logo {
        margin: auto;
    }
} 

@media screen and (max-width: 568px) {
    .register__error {
        width: 260px;
    }
} 

@media screen and (max-width: 568px) {
    .register__container {
        width: 260px;
        padding-top: 56px;
    }
} 

@media screen and (max-width: 568px) {
    .register__greating {
        margin: 50px auto 80px;
    }
} 

@media screen and (max-width: 568px) {
    .register__button {
        font-size: 12px;
        margin-top: 216px;
    }
} 

@media screen and (max-width: 568px) {
    .register__signin {
        margin: 14px 0 30px;
    }
} 

@media screen and (max-width: 568px) {
    .register__signin-text {
        font-size: 12px;
    }
} 

@media screen and (max-width: 568px) {
    .register__signin-link {
        font-size: 12px;
    }
} 